@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');


h1,h2{
   color:blue;
   font-size: 40px;
   font-weight: 500;
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;

   text-decoration: underline;
   text-decoration-color: green;
   text-decoration-style: dashed;
}
